{% extends "polls/index.html" %}
{% block title %}About Poll App{% endblock %}
{% block body %}
    <div class="alert alert-info about">
        <h3 id="about">About poll app</h3>
    </div>
    <p>
        Online poll app is a django powered polling application influenced by Abu Ashraf Masnun's recent tutorial
        and official tutorial from Django's site. The app does a fairly simple job :). User will select a poll , choose
        an answer and vote it. An immediate result will be displayed just after the vote. The app uses django's builtin
        admin
        app and hook the poll app in it to provide an interface to perform CRUID operation on the app.

    </p>
{% endblock %}