<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Latest Poll List{% endblock %}</title>
    {% block stylesheets %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap-responsive.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}"/>
    {% endblock %}
</head>

<body>
<div class="container-narrow">
    <div class="masthead">

        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
        <h3 class="muted">Django Powered Poll App</h3>
    </div>
    <hr>
    {% block body %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="success">
                <th>Click on a poll bellow</th>
            </tr>
            </thead>
            <tbody>
            {% if latest_poll_list %}
                {% for poll in latest_poll_list %}
                    <tr>
                    <td>
                        <a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a>
                    </td>
                {% endfor %}
            {% else %}
                <td>Currently No polls are available.</td>
            {% endif %}
            </tr>
            </tbody>
        </table>
    {% endblock %}
    <div class="footer">
        <p>&copy; Shibly 2013</p>
    </div>
</div>
</body>
</html>