body {
    padding-top: 20px;
    padding-bottom: 40px;

}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 750px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

ul li {
    list-style: none;
}

.footer {
    background-color: #f5f5f5;
    height: 45px;
    border-radius: 5px;
}

.footer p {
    float: right;
    position: relative;
    top: 15px;
    right: 5px;
}

.about {
    height: 20px;
}

#about {
    position: relative;
    bottom: 20px;
}

/*  Designing the form */

.form-vote {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-vote .form-vote-heading,
.form-vote .checkbox {
    margin-bottom: 10px;
}

.form-vote input[type="text"],
.form-vote input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}